body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a7dbf0;
  }
  
  .container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  #weather {
    text-align: center;
    font-size: 20px;
  }
  